body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
}

/*svg {*/
/*    width: 70vw;*/
/*    visibility: hidden;*/
/*    transform: translateY(-20%);*/
/*}*/
